*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/androidTest/java/de/julius/jobsearcherandroid/ExampleInstrumentedTest.kt
app/src/main/res/values/auth_token.xml
/.idea/misc.xml
/.idea/
